<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3.4.32/dist/vue.esm-browser.js"
      },
      "scopes": {}
    }
  </script>
    <style>
        b {
            text-decoration: underline;
            padding: 0 3 0 3;
        }

        label {
            margin-bottom: 4px;
        }

        div.col-4 {
            min-height: 80px
        }

        hr {
            margin-bottom: 30px;
        }

        tr.retirementAge td,
        .ssAge td,
        .medicareAge td,
        .noPenalityAge td {
            font-weight: bold;
        }

        tr.rmdAge td {
            font-weight: bold;
            color: orange
        }

        td.spending,
        td.tax {
            color: red
        }


        h3 {
            margin-top: 30px
        }

        .accordion-button {
            font-weight: 555;
            text-decoration: underline;
        }

        .hidden {
            display: none
        }
    </style>
</head>

<body 1onload="document.getElementById('divRetirementYear').scrollIntoView();">
    <button id="btnReset" style="width:100%" class="btn btn-info"
        onclick="localStorage.clear();window.location.reload()">Data saved
        to your browser automatically, click here to Reset</button>
    <div id="app" class="container">

        <h3>Retirement calculator</h3>
        <hr />
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        Age
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show_z">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-4">
                                <label for="txtAge">Current Age:</label>
                                <input id="txtAge" class="form-control" v-model="data.person.age" step="1" type="number"
                                    @change="calculate" max="100" />
                            </div>
                            <div class="col-4">
                                <label for="data.person.retirement.age">Retirement Age:</label>
                                <input id="data.person.retirement.age" class="form-control"
                                    v-model="data.person.retirement.age" step="1" type="number" @change="calculate" />
                            </div>
                            <div class="col-4">
                                <label for="txtYears">Retire In Years:</label>
                                <input id="txtYears" class="form-control"
                                    :value="this.data.person.retirement.age - this.data.person.age" type="number"
                                    disabled />
                            </div>
                            <div class="col-4">
                                <label for="distribution.noPenalityAge">IRA no-penality withdraw age 59.5:</label>
                                <input id="distribution.noPenalityAge" class="form-control"
                                    :value="data.distribution.noPenalityAge" type="number" disabled />
                            </div>
                            <div class="col-4">
                                <label for="data.medicare.age">Medicare Age:</label>
                                <input id="data.medicare.age" class="form-control" :value="data.medicare.age"
                                    type="number" disabled />
                            </div>
                            <div class="col-4">Required Minimum Distribution Age<label for="rmd.age">:</label>
                                <input id="rmd.age" class="form-control" v-model="data.rmd.age" type="number"
                                    disabled />
                            </div>
                            <div class="col-4">
                                <label for="person.ss.age">Social Security Benefit Age (62-67):</label>
                                <input id="person.ss.age" class="form-control" v-model="data.person.ss.age"
                                    type="number" @change="calculate" min="62" max="67" />
                            </div>
                            <div class="col-4">
                                <label for="person.dieAtAge">Life Expectancy (Age):</label>
                                <input id="person.dieAtAge" class="form-control" v-model="data.person.dieAtAge"
                                    type="number" @change="calculate" max="100" />
                            </div>
                        </div>
                        <div>
                            <h5>Summary</h5>
                            You are <b>{{data.person.age}}</b> years old,
                            you are planning to retire in <b>{{data.person.retirement.age-data.person.age}}</b>
                            years in <b>{{data.person.retirement.year}}</b> at the age of
                            <b>{{data.person.retirement.age}}</b> (beginning of the year).
                            You will start receiving your Social Security retirement benefits from age
                            <b>{{data.person.ss.age}}</b>.
                            You can start withdrawing from your traditional 401k/IRA accounts at 59.5, when you are
                            <b>{{data.rmd.age}}</b>, you'll be required to withdraw from your traditional tax
                            deferred accounts (IRA, 401k).
                            Your medicare will kick in when you are
                            <b>{{data.medicare.age}}</b>.

                            Your life expectancy age is
                            <b>{{data.person.dieAtAge}}</b>.
                            Your total number of years in retirement is
                            <b>{{data.person.dieAtAge-data.person.retirement.age}}</b>.
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button " type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo">
                        Income & Savings
                    </button>
                </h2>

                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show_z">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-4">
                                <label for="txtpretaxBalance">Current Traditional Retirement:
                                    {{toDollar(data.person.pretaxBalance)}}</label>
                                <input id="txtpretaxBalance" class="form-control" v-model="data.person.pretaxBalance"
                                    step="100" type="number" @change="calculate" />
                            </div>
                            <div class="col-4">
                                <label for="data.person.investment">Current After Tax Investment:
                                    {{toDollar(data.person.investment)}}</label>
                                <input id="data.person.investment" class="form-control" v-model="data.person.investment"
                                    type="number" min="1" step="1000" @change="calculate" />
                            </div>
                            <div class="col-4">
                                <label for="data.person.roth">Current Roth:
                                    {{toDollar(data.person.roth)}}</label>
                                <input id="data.person.roth" class="form-control" v-model="data.person.roth"
                                    type="number" min="0" step="1000" @change="calculate" />
                            </div>
                            <div class="col-4">
                                <label for="data.person.salary">Current Salary:
                                    {{toDollar(data.person.salary)}}</label>
                                <input id="data.person.salary" class="form-control" v-model="data.person.salary"
                                    type="number" min="0" step="1000" @change="calculate" />
                            </div>
                            <div class="col-4">
                                <label for="data.meritIncrease">Merit Increase:
                                    {{toPercent(data.meritIncrease)}}</label>
                                <input id="data.meritIncrease" class="form-control" v-model="data.meritIncrease"
                                    type="number" min="1" step="0.1" @change="calculate" />
                            </div>


                            <div class="col-4">
                                <label for="contrib.employeePercent">Employee 401k Contribution:
                                    {{toPercent(data.contrib.employeePercent)}}</label>
                                <input id="contrib.employeePercent" class="form-control"
                                    v-model="data.contrib.employeePercent" type="number" min="1" step="1"
                                    @change="calculate" />
                            </div>
                            <div class="col-4">
                                <label for="contrib.employerPercent">Employer 401k Contribution:
                                    {{toPercent(data.contrib.employerPercent)}}</label>
                                <input id="contrib.employerPercent" class="form-control"
                                    v-model="data.contrib.employerPercent" type="number" min="1" step="1"
                                    @change="calculate" />
                            </div>
                            <div class="col-4">
                                <label for="annualReturn.beforeRetirement">Annual Return Before Retirement:
                                    {{toPercent(data.annualReturn.beforeRetirement)}}</label>
                                <input id="annualReturn.beforeRetirement" class="form-control"
                                    v-model="data.annualReturn.beforeRetirement" type="number" min="1" step="1"
                                    @change="calculate" />
                            </div>
                            <div class="col-4">
                                <label for="annualReturn.afterRetirement">Annual Return After Retirement:
                                    {{toPercent(data.annualReturn.afterRetirement)}}</label>
                                <input id="annualReturn.afterRetirement" class="form-control"
                                    v-model="data.annualReturn.afterRetirement" type="number" min="1" step="1"
                                    @change="calculate" />
                            </div>
                        </div>
                        <div id="divSalary">
                            <h5>Summary</h5>
                            Your current household earned income is <b>{{toDollar(data.person.salary)}}</b>, you
                            expect annual
                            merit
                            increase of <b>{{toPercent(data.meritIncrease)}}</b>.
                            <br />
                            Your current tax deferred retirement accounts
                            have<b>{{toDollar(data.person.pretaxBalance)}}</b>
                            total, you are contributing
                            <b>{{toPercent(data.contrib.employeePercent)}}</b> of your
                            salary to 401k, and your employer contributes
                            <b>{{toPercent(data.contrib.employerPercent)}}</b> of
                            your
                            <b>{{toPercent(data.contrib.employeePercent)}}</b> contribution, total
                            contribution is <b>{{toPercent(data.contrib.total)}}</b> of your
                            salary each year. Your current year 401k contribution calculates to be
                            <b>{{toDollar(data.person.salary*data.contrib.total/100)}}</b>.
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-spending" aria-expanded="true"
                        aria-controls="panelsStayOpen-spending">
                        Spending
                    </button>
                </h2>
                <div id="panelsStayOpen-spending" class="accordion-collapse collapse show_z">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-4">
                                <label for="data.spending.beforeRetirement">Yearly (Before Retirement)
                                    {{toDollar(data.spending.beforeRetirement)}}
                                </label>
                                <input id="data.spending.beforeRetirement" class="form-control"
                                    v-model="data.spending.beforeRetirement" type="number" step="10000"
                                    @change="calculate" />
                            </div>
                            <div class="col-4">
                                <label for="data.spending.afterRetirement">Yearly (After Retirement)
                                    {{toDollar(data.spending.afterRetirement)}}
                                </label>
                                <input id="data.spending.afterRetirement" class="form-control"
                                    v-model="data.spending.afterRetirement" type="number" step="10000"
                                    @change="calculate" />
                            </div>
                            <div class="col-4">
                                <label for="data.spending.insurance">Yearly Health Insurance (After Retirement, Before
                                    Medicare)
                                    {{toDollar(data.spending.insurance)}}
                                </label>
                                <input id="data.spending.insurance" class="form-control"
                                    v-model="data.spending.insurance" type="number" step="1000" @change="calculate" />
                            </div>
                            <div>
                                Your estimated yearly spending <b>before</b> retirement is
                                <b>{{toDollar(data.spending.beforeRetirement)}}</b>,
                                monthly spending is <b>{{toDollar(data.spending.beforeRetirement/12)}}</b>,
                                this should include:
                                <ul>
                                    <li>Housing</li>
                                    <li>Your expensive kid(s) - tuition, activities, etc</li>
                                </ul>
                            </div>
                            <div>
                                Your estimated yearly spending <b>after</b> retirement is
                                <b>{{toDollar(data.spending.afterRetirement)}}</b>, monthly spending is
                                <b>{{toDollar(data.spending.afterRetirement/12)}}</b>:
                                <ul>
                                    <li>Lower housing expenses, and hopefully no more mortgage</li>
                                    <li>Health insurances - before Medicare</li>
                                    <li>Higher medical expenses</li>
                                    <li>More traveling</li>
                                </ul>
                            </div>
                            <div v-if="data.person.retirement.age < data.medicare.age">
                                When you retire in <b>{{data.person.retirement.age-data.person.age}}</b> years at
                                <b>{{data.person.retirement.age}}</b>,
                                you are not yet qualified for Medicare, you estimated your monthly health insurance out
                                of pocket is
                                <b>{{toDollar(data.spending.insurance/12)}}</b>.
                            </div>

                            <div class="mt-3">
                                Your spending will be adjusted for <b>{{toPercent(data.inflation)}}</b> inflation every
                                year.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapse4" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapse4">
                        Roth Conversions
                    </button>
                </h2>
                <div id="panelsStayOpen-collapse4" class="accordion-collapse collapse show_z">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-4">
                                <label for="distribution.age">Age to start Roth Conversion
                                </label>
                                <input id="distribution.age" class="form-control" v-model="data.distribution.age"
                                    type="number" min="40" step="1" @change="calculate" />
                            </div>

                            <div class="col-4">
                                <label for="distribution.braket"
                                    title="Projected retirement age tax brackets shown">Conversion based on tax
                                    bracket</label>
                                <select id="distribution.braket" @change="calculate" class="form-select"
                                    v-model="data.distribution.bracket">
                                    <option value="0">0%</option>
                                    <option v-for="b in getTaxBracketsForYear(data.person.retirement.year).data"
                                        :value="b.percent">{{b.percent}}% -
                                        {{toDollar(b.income)}}</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <h5>Required Minimum Distribution <b>{{data.rmd.year}}</b> (age <b>{{data.rmd.age}}</b>)
                            </h5>
                            <div class="mt-3">
                                When you reach the age of <b>{{data.rmd.age}}</b>, you'll be required to take "Required
                                Minimum Distribution" from your tax deferred traditional 401k/IRA accounts, and
                                distribution is taxed at the ordinary income rate.
                            </div>
                            <div class="mt-3">
                                The 'ordinary income' from RMD means that you'll have taxable income, which affects the
                                tax you pay,
                                your Medicare payment, and Social Security retirement benefit taxes.
                            </div>
                            <div class="mt-3">
                                There are also some tax benefits of keeping some money in the tax-deferred accounts,
                                however, you want
                                the amount to be low enough that you won't be forced to take out a lot each year.
                            </div>
                            <div class="mt-3">
                                The strategy is to convert your traditional 401k/IRA to Roth IRA as early as possible
                                (typically after you retire),
                                you'll pay tax at the time of conversion, once converted, your roth money, including
                                gains, won't be taxed again,
                                and there's no required minimum distribution.
                            </div>
                            <div class="mt-3">
                                You want to start Roth conversion at <b>{{data.rmd.age}}</b>, and withdraw to
                                fill up the <b>{{toPercent(data.distribution.bracket)}}</b>tax bracket, at
                                <b>{{data.rmd.age}}</b>, your tax
                                deferred accounts will have <b>{{toDollar(data.rmd.pretaxBalance)}}</b>,
                                you'll be required to withdraw <b>{{toDollar(data.rmd.pretaxBalance)}}</b> / 27.4 =
                                <b>{{toDollar(data.rmd.rmd)}}</b> on first year and increases percentage wise every year
                                after. Your tax bill on that first year distribution is around
                                <b>{{toDollar(calculateEarnedIncomeTaxForYear(this.data.rmd.rmd,
                                    this.data.rmd.year))}}</b>.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-taxes" aria-expanded="true"
                        aria-controls="panelsStayOpen-taxes">
                        Taxes & Inflation
                    </button>
                </h2>
                <div id="panelsStayOpen-taxes" class="accordion-collapse collapse show_z">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-4">
                                <label for="data.tax.state.beforeRetirement">State Tax (Before Retirement)
                                    {{toPercent(data.tax.state.beforeRetirement)}}
                                </label>
                                <input id="data.tax.state.beforeRetirement" class="form-control"
                                    v-model="data.tax.state.beforeRetirement" type="number" min="0" step="1"
                                    @change="calculate" />
                            </div>
                            <div class="col-4">
                                <label for="data.tax.state.afterRetirement">State Tax (After Retirement)
                                    {{toPercent(data.tax.state.afterRetirement)}}
                                </label>
                                <input id="data.tax.state.afterRetirement" class="form-control"
                                    v-model="data.tax.state.afterRetirement" type="number" min="0" step="1"
                                    @change="calculate" />
                            </div>
                            <div class="col-4">
                                <label for="inflation">Inflation {{toPercent(data.inflation)}}</label>
                                <input id="inflation" class="form-control" :value="data.inflation" type="number"
                                    disabled />
                            </div>
                        </div>
                        <div>
                            <h5>Taxes</h5>
                            <div class="mt-3">
                                <ul>
                                    <li>Federal Ordinary Income Tax (see table below)</li>
                                    <li>Federal Capital Gain Tax (15% for long term)</li>
                                    <li>FICA (SS & Medicare)</li>
                                    <li>Medicare Surtax 3.8% on Capital Gain for MAGI over $250,000</li>
                                    <li>State Taxes </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseThree">
                        Summary & Insights
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show_z">
                    <div class="accordion-body">

                        <div id="divRetirementYear">
                            <h5>Retirement Year <b>{{data.person.retirement.year}}</b> (age
                                <b>{{data.person.retirement.age}}</b>)
                            </h5>
                            With <b>{{toPercent(data.annualReturn.beforeRetirement)}}</b> annual return rate, and
                            <b>{{toPercent(data.contrib.total)}}</b>
                            total yearly
                            contribution from employment,
                            when you retire, you'll have <b>{{toDollar(data.person.retirement.pretaxBalance)}}</b> in
                            your tax
                            deferred accounts.
                            <br />
                            And with <b>{{toPercent(data.meritIncrease)}}</b> annual merit increase, your salary at
                            retirement age
                            is
                            <b>{{toDollar(data.person.retirement.salary)}}</b>.
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-yearly" aria-expanded="true"
                        aria-controls="panelsStayOpen-yearly">
                        Yearly Data
                    </button>
                </h2>
                <div id="panelsStayOpen-yearly" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="form-check col-1">
                                <input class="form-check-input" id="col-age" type="checkbox" @change="saveState"
                                    v-model="data.columns.age" />
                                <label class="form-check-label" for="col-age">Age</label>
                            </div>
                            <div class="form-check col">
                                <input class="form-check-input" id="col-year" type="checkbox"
                                    v-model="data.columns.year" />
                                <label class="form-check-label" for="col-year">Year</label>
                            </div>
                            <div class="form-check col">
                                <input class="form-check-input" id="col-salary" type="checkbox"
                                    v-model="data.columns.salary" />
                                <label class="form-check-label" for="col-salary">Salary</label>
                            </div>
                            <div class="form-check col">
                                <input class="form-check-input" id="col-contrib" type="checkbox"
                                    v-model="data.columns.contrib" />
                                <label class="form-check-label" for="col-contrib">401K Contrib</label>
                            </div>
                            <div class="form-check col">
                                <input class="form-check-input" id="col-rmd" type="checkbox"
                                    v-model="data.columns.rmd" />
                                <label class="form-check-label" for="col-rmd">RMD</label>
                            </div>
                            <div class="form-check col">
                                <input class="form-check-input" id="col-spending" type="checkbox"
                                    v-model="data.columns.spending" />
                                <label class="form-check-label" for="col-spending">Spending</label>
                            </div>
                            <div class="form-check col">
                                <input class="form-check-input" id="col-dist" type="checkbox"
                                    v-model="data.columns.dist" />
                                <label class="form-check-label" for="col-dist">Roth Conversion</label>
                            </div>
                            <div class="form-check col">
                                <input class="form-check-input" id="col-pretax" type="checkbox"
                                    v-model="data.columns.pretax" />
                                <label class="form-check-label" for="col-pretax">Tex Deferred</label>
                            </div>
                            <div class="form-check col">
                                <input class="form-check-input" id="col-roth" type="checkbox"
                                    v-model="data.columns.roth" />
                                <label class="form-check-label" for="col-roth">Roth</label>
                            </div>
                            <div class="form-check col">
                                <input class="form-check-input" id="col-investment" type="checkbox"
                                    v-model="data.columns.investment" />
                                <label class="form-check-label" for="col-investment">Investment</label>
                            </div>
                            <div class="form-check col">
                                <input class="form-check-input" id="col-tax" type="checkbox"
                                    v-model="data.columns.tax" />
                                <label class="form-check-label" for="col-tax">Taxes</label>
                            </div>
                        </div>

                        <table class="table table-strip table-hover mt-1">
                            <thead>
                                <th v-if="data.columns.age">Age</th>
                                <th v-if="data.columns.year">Year</th>
                                <th v-if="data.columns.salary">Salary</th>
                                <th v-if="data.columns.contrib">401k Contrib
                                    ({{toPercent(data.contrib.total)}})</th>
                                <th v-if="data.columns.rmd">RMD</th>
                                <th v-if="data.columns.spending" title="inflation adjusted">Spending
                                </th>
                                <th v-if="data.columns.dist">Roth Conversion</th>
                                <th v-if="data.columns.pretax" title="traditional 401k, IRA">Tax
                                    Deferred</th>
                                <th v-if="data.columns.roth">Roth</th>
                                <th v-if="data.columns.investment" title="brokerage + savings">
                                    Investment
                                </th>
                                <th v-if="data.columns.tax">Taxes</th>
                            </thead>
                            <tbody>
                                <tr v-for="yearly in data.yearlyData" :class="{
                                            retirementAge:yearly.age===data.person.retirement.age,
                                            rmdAge:yearly.age ===data.rmd.age,
                                            medicareAge:yearly.age === data.medicare.age,
                                            ssAge:yearly.age === data.person.ss.age,
                                            noPenalityAge:yearly.age === data.distribution.noPenalityAge
                                        }">
                                    <td v-if="data.columns.age">{{yearly.age}}</td>
                                    <td v-if="data.columns.year">{{yearly.year}}</td>
                                    <td v-if="data.columns.salary">{{toDollar(yearly.salary)}}</td>
                                    <td v-if="data.columns.contrib">{{toDollar(yearly.k401)}}</td>
                                    <td v-if="data.columns.rmd">{{toDollar(yearly.rmd)}}</td>
                                    <td v-if="data.columns.spending" class="spending">
                                        -{{toDollar(yearly.spending)}}</td>
                                    <td v-if="data.columns.dist">{{toDollar(yearly.dist)}}</td>
                                    <td v-if="data.columns.pretax">{{toDollar(yearly.pretaxBalance)}}</td>
                                    <td v-if="data.columns.roth">{{toDollar(yearly.roth)}}</td>
                                    <td v-if="data.columns.investment">
                                        {{toDollar(yearly.investment)}}</td>
                                    <td v-if="data.columns.tax" class="tax"><span
                                            :title="JSON.stringify(getTaxBracketsForYear(yearly.year).data)">-{{toDollar(yearly.tax)}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-taxbrackets" aria-expanded="true"
                        aria-controls="panelsStayOpen-taxbrackets">
                        Projected Tax Rates for Married Filing Jointly
                    </button>
                </h2>
                <div id="panelsStayOpen-taxbrackets" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div class="row">
                            <table class="table table-hover table-strip">
                                <thead>
                                    <tr>
                                        <th>Year</th>
                                        <th>Rate</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        v-for="y in data.tax.brackets.filter(x => x.year >= (new Date()).getFullYear())">
                                        <td>{{y.year}}</td>
                                        <td>
                                            <table>
                                                <tr v-for="b in y.data">
                                                    <td>{{toPercent(b.percent)}}</td>
                                                    <td>{{toDollar(b.income)}}</td>
                                                </tr>
                                            </table>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

<script type="module">
    import { createApp } from "vue";
    createApp({
        data() {

            let savedData = JSON.parse(localStorage.getItem("data"));
            if (savedData) return { data: savedData };

            // https://www.irs.gov/publications/p590b#en_US_2021_publink100090093
            const uniformLifetimeTable = [
                [72, 27.4], [73, 26.5], [74, 25.5], [75, 24.6], [76, 23.7], [77, 22.9], [78, 22], [79, 21.1], [80, 20.2], [81, 19.4], [82, 18.5],
                [83, 17.7], [84, 16.8], [85, 16], [86, 15.2], [87, 14.4], [88, 13.7], [89, 12.9], [90, 12.2], [91, 11.5], [92, 10.8],
                [93, 10.1], [94, 9.5], [95, 8.9], [96, 8.4], [97, 7.8], [98, 7.3], [99, 6.8], [100, 6.4]
            ];
            return {
                data: {
                    columns: { age: true, year: true, salary: true, contrib: true, rmd: true, spending: true, dist: true, pretax: true, roth: true, investment: true, tax: true },
                    yearlyData: [],
                    spending: { beforeRetirement: 100000, afterRetirement: 80000, insurance: 20000 },
                    annualReturn: { beforeRetirement: 10, afterRetirement: 5 },
                    distribution: { age: 56, amount: 0, bracket: 15, noPenalityAge: 60 },
                    inflation: 3.0,
                    meritIncrease: 2,
                    medicare: { age: 65 },
                    rmd: { age: 72, pretaxBalance: 0, year: 0, lifetimeTable: uniformLifetimeTable },
                    contrib: { employeePercent: 6, employerPercent: 50, total: 9 },
                    person: {
                        age: 50, pretaxBalance: 1000000, salary: 100000, dieAtAge: 88,
                        retirement: {
                            age: 55,
                            year: 0,
                            salary: 0,
                            pretaxBalance: 0
                        },
                        investment: 100000,
                        roth: 100000,
                        ss: { age: 67 }
                    },
                    tax: { brackets: [], state: { beforeRetirement: 5, afterRetirement: 0 } }
                }
            }
        },

        methods: {

            calculate() {

                this.data.contrib.total = this.data.contrib.employeePercent * (1 + this.data.contrib.employerPercent / 100);
                this.calculateYearly();

                const rmdYearData = this.data.yearlyData.find(x => x.age === this.data.rmd.age);
                this.data.rmd = { ...this.data.rmd, ...rmdYearData };

                const retirementYearData = this.data.yearlyData.find(y => y.age === this.data.person.retirement.age);
                this.data.person.retirement = { ...this.data.person.retirement, ...retirementYearData };

                this.saveState();
            },
            saveState() {
                localStorage.setItem("data", JSON.stringify(this.data));
            },
            calculateCompound(val, rate, years, extraContrib = 0) {
                for (let i = 0; i < years; i++) {
                    val = val * (1 + rate / 100) + extraContrib;
                }
                return val;
            },
            calculateGain(ignoreRate, amount, rate) {
                if (ignoreRate) {
                    return amount;
                }
                if (amount < 0) {
                    return amount;
                }
                return amount * (1 + rate / 100);
            },
            calculateYearly() {
                this.data.yearlyData = [];
                const yearsToCalc = this.data.person.dieAtAge - this.data.person.age;
                let age = this.data.person.age;
                let year = (new Date()).getFullYear();
                let pretaxBalance = this.data.person.pretaxBalance;
                let salary = this.data.person.salary;
                let investment = this.data.person.investment;
                let roth = this.data.person.roth;
                let spending = { beforeRetirement: this.data.spending.beforeRetirement, afterRetirement: this.data.spending.afterRetirement };

                for (let i = 0; i <= yearsToCalc; i++) {
                    let spendingAmount = spending.afterRetirement;
                    //before retirement
                    if (age < this.data.person.retirement.age) {
                        salary = this.calculateGain(i === 0, salary, this.data.meritIncrease);
                        pretaxBalance = this.calculateGain(i === 0, pretaxBalance, this.data.annualReturn.beforeRetirement);
                        investment = this.calculateGain(i === 0, investment, this.data.annualReturn.beforeRetirement);
                        roth = this.calculateGain(i === 0, roth, this.data.annualReturn.beforeRetirement);
                        spendingAmount = spending.beforeRetirement;
                    } else { // after retirement
                        salary = 0;
                        pretaxBalance = this.calculateGain(i === 0, pretaxBalance, this.data.annualReturn.afterRetirement);
                        investment = this.calculateGain(i === 0, investment, this.data.annualReturn.afterRetirement);
                        roth = this.calculateGain(i === 0, roth, this.data.annualReturn.afterRetirement);
                    }

                    // pretax 401k
                    let k401 = salary * (this.data.contrib.total) / 100;

                    // rmd age 72+
                    let rmd = 0;
                    if (age >= this.data.rmd.age) {
                        rmd = pretaxBalance / (this.data.rmd.lifetimeTable.find(x => x[0] === age)[1]);
                    }

                    let taxableIncome = salary - k401;

                    //** calculate how much to convert
                    let dist = 0;
                    if (pretaxBalance > 0 && age >= this.data.distribution.age) {
                        const totalDistAllowed = this.getIncomeForBracketAndYear(year, this.data.distribution.bracket) - taxableIncome;
                        if (pretaxBalance < totalDistAllowed) {
                            dist = pretaxBalance;
                        } else {
                            dist = totalDistAllowed;
                        }

                        // if rmd is greater than calculated distribution amount, then take out RMD
                        dist = rmd > dist ? rmd : dist;

                        // dist taxed at ordinary income
                        taxableIncome += dist;
                    }

                    let tax = this.calculateEarnedIncomeTaxForYear(taxableIncome, year);

                    // before retirement, spending money is from salary
                    // after retirement
                    // spending money will be paid from investment account sell first, which has 15% tax,
                    // 3.8% medicare surtax on 250k above capital gain
                    // investment account has no money, pay tax from roth, which has no tax
                    if (age >= this.data.person.retirement.age && investment >= (tax + spendingAmount * 0.15)) {
                        tax += spendingAmount * 0.15;
                        tax += (taxableIncome + spendingAmount) * (this.data.tax.state.afterRetirement / 100);
                        if (taxableIncome + spendingAmount > 250000) {
                            tax += (taxableIncome + spendingAmount - 250000) * 0.038;
                        }
                    }

                    // before retirement, state income tax
                    if (age < this.data.person.retirement.age && investment >= (tax + spendingAmount * 0.15)) {
                        tax += (taxableIncome) * (this.data.tax.state.beforeRetirement / 100);
                    }

                    let yearly = {
                        age: age,
                        pretaxBalance: pretaxBalance,
                        year: year,
                        salary: salary,
                        k401: k401,
                        rmd: rmd,
                        dist: dist,
                        investment: investment,
                        roth: roth,
                        tax: tax,
                        spending: spendingAmount
                    };
                    this.data.yearlyData.push(yearly);

                    /// calculate for next year
                    age++;
                    year++;
                    roth = roth + dist;

                    // before retirement, investment += salary-spending
                    if (age < this.data.person.retirement.age) {
                        investment += (taxableIncome - spendingAmount - tax);
                    }
                    else {
                        // before 59.5, pay tax from investment (otherwise 10% penality)
                        // after that, pay from investment if there's enough
                        // otherwise pay from the converted roth
                        if (age >= this.data.distribution.noPenalityAge) {
                            if (investment >= tax + spendingAmount) {
                                investment -= (tax + spendingAmount);
                            } else {
                                roth -= (tax + spendingAmount);
                            }
                        } else {
                            investment -= (tax + spendingAmount);
                        }
                    }

                    pretaxBalance = pretaxBalance + k401 - dist;
                    spending.beforeRetirement = spending.beforeRetirement * (1 + this.data.inflation / 100);
                    spending.afterRetirement = spending.afterRetirement * (1 + this.data.inflation / 100);
                }

                console.table(this.data.yearlyData);
            },


            // Util functions
            toDollar(val) {
                return new Intl.NumberFormat("en-US", {
                    style: "currency",
                    currency: "USD",
                }).format(val);
            },
            toPercent(val) {
                return new Intl.NumberFormat("en-US", {
                    style: "percent",
                    maximumFractionDigits: 1,
                }).format(val / 100);
            },
            getTaxBracketsForYear(year) {
                try {
                    if (this.data.tax.brackets && this.data.tax.brackets.length !== 0) {
                        return this.data.tax.brackets.find(x => x.year === year);
                    }
                } catch (ex) {
                    console.error('year=', year, 'ex=', ex);
                }

                // historical yearly bracket increase around 1.5% in from 2007-2017
                const r = 0.016;

                // 2018 has diff tax bracket
                const b2017 = {
                    year: 2017,
                    standardDeduction: 12700,
                    data: [
                        { percent: 10, income: 18650 },
                        { percent: 15, income: 75900 },
                        { percent: 25, income: 153100 },
                        { percent: 28, income: 233350 },
                        { percent: 33, income: 416700 },
                        { percent: 35, income: 470000 },
                        { percent: 39.6, income: 1000000 }
                    ]
                }
                this.data.tax.brackets = [b2017];
                for (let i = 2018; i < 2018 + this.data.person.dieAtAge; i++) {
                    const newdata = this.data.tax.brackets[this.data.tax.brackets.length - 1].data.map(
                        x => { return { percent: x.percent, income: Math.round(x.income * (1 + r)) } }
                    );
                    this.data.tax.brackets.push({
                        year: i,
                        standardDeduction: this.data.tax.brackets[this.data.tax.brackets.length - 1].standardDeduction * (1 + r),
                        data: newdata
                    })
                }

                // 2024-2025 = trump tax rate
                const b2024Data = [
                    { percent: 12, income: 89450 },
                    { percent: 22, income: 190750 },
                    { percent: 24, income: 364200 },
                    { percent: 32, income: 462500 },
                    { percent: 35, income: 693750 },
                    { percent: 37, income: 1000000 }
                ];
                const b2024 = this.data.tax.brackets.find(x => x.year === 2024);
                b2024.data = b2024Data;
                b2024.standardDeduction = 29200;
                const b2025Data = b2024Data.map(x => { return { percent: x.percent, income: Math.round(x.income * (1 + r)) } });
                const b2025 = this.data.tax.brackets.find(x => x.year === 2025);
                b2025.data = b2025Data;
                b2025.standardDeduction = 29200 * (1 + r);
                return this.data.tax.brackets.find(x => x.year === year);
            },
            /**
             * returns ordinary income upper limit for given year and bracket
             * if bracket is not found, go with the bracket lower
             */
            getIncomeForBracketAndYear(year, bracketRate) {
                if (bracketRate === '0') return 0;    // not selected in dropdown

                const brackets = this.getTaxBracketsForYear(year).data;
                let bracket = brackets.find(x => x.percent === bracketRate);
                if (bracket == null) {
                    let i = 0;
                    for (i = 0; i < brackets.length; i++) {
                        if (brackets[i].percent > bracketRate)
                            break;
                    }
                    bracket = brackets[i - 1];
                }
                return bracket.income;
            },
            calculateEarnedIncomeTaxForYear(income, year) {
                const taxData = this.getTaxBracketsForYear(year);
                const brackets = taxData.data;
                //income = income - taxData.standardDeduction;
                let sum = 0;
                for (let i = 0; i < brackets.length; i++) {
                    const bracket = brackets[i];
                    if (income > bracket.income) {
                        let tax = bracket.percent / 100 * bracket.income;
                        sum += tax;
                        income = income - bracket.income;
                    } else {
                        let tax = bracket.percent / 100 * income;
                        sum += tax;
                        return sum;
                    }
                }
            }
        },
        beforeMount() {
            try {
                this.calculate();
            } catch (ex) {
                console.error(ex);
            }
        }
    }).mount("#app");
</script>

<details>
    <summary>TODOs</summary>
    <ol>
        <li>before retirement, if started conversion, and salary doesn't cover tax, need to take tax out of investment
        </li>
        <li>calculate FICA</li>
        <li>calculate SS</li>
        <li>calculate medicare</li>
        <li>custom % conversion</li>
        <li>spouse</li>
        <li>insurance before medicare</li>
        <li>today's currency view</li>
        <li>one-off expenses</li>
    </ol>
</details>